body{
    box-sizing: border-box;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    height: 100vh;
    background-color: rgb(230, 229, 214);
    margin: 0px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    gap: 40px;
}

nav{
    background-image:url("../../imaginiLemne/lemn3.jpg") ;
    background-size: cover;
    background-repeat: no-repeat;
    height: 120px;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    text-align: center;
}

nav a{
    color: white;
    margin-top: 10px;
    text-decoration: none;
    font-size: 20px;
}

header{
margin: 20px;
}

header h1{
    font-style: italic;
}

main{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
}

.pr{
    text-align: center;
}

.pr img{
    width: 200px;
    height: 200px;
    
}

footer{
    background-color: black;
    text-align: center;
    color: white;
    
}

@media(min-width:720px) and (max-width:900px){
    nav{
        grid-template-columns: 1fr 1fr 1fr;
    }

    nav a{
        margin-top: 40px;
    }

    main{
        grid-template-columns: 1fr 1fr;
    }

    
}

@media(min-width:901px){
    nav{
        grid-template-columns: 1fr 1fr 1fr;
    }

    nav a{
        margin-top: 40px;
    }

    main{
        grid-template-columns: 1fr 1fr 1fr;
    }
}
