body{
    box-sizing: border-box;
    display: grid;
    grid-template-columns: 1fr;
    
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: rgb(230, 229, 214);
    margin: 0px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.navHeader{
    background-image: url("imaginiLemne/lemn3.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 500px;
    /* position: relative; */
    height: 100vh;
   
}

nav{
    
    
    width: 170px;
    height: 30px;
    display: flex;
    flex-direction: column;
    text-align: left;
    justify-content: left;
    align-items: flex-start;
    
    height: 100px;
}

nav a{
    color: rgb(236, 234, 234);
     text-decoration:wavy;
    font-weight: bolder; 
    margin-left: 15%; 
    text-align: left;
    margin-top: 20px;
    font-size: 20px;
    width: 160px;
    
}

nav a:hover{
    color: rgb(138, 135, 135);
}

header{
    text-align: center;
    color: rgb(243, 233, 233);
    margin-top: 100px;
}

header p{
    display: none;
}

header img{
    height: 200px;
    border-radius: 300px;
    

}


aside{
    display: none;
}

main{
    text-align: center;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 200px;
    margin-bottom: 150px;
    height: 300px;
    font-size: 20px;
}

footer{
    background-color: black;
    text-align: center;
    color: white;
    
}

@media(min-width:720px) and (max-width:900px) {

    nav{
        margin-top: 30px;
        display: grid;
        grid-template-columns: 1fr 2fr 1fr;
        width: 100%;
    }
    
    nav a{
        
       margin-left: 120px;
    }




    header{
        margin:50px;
       display: grid;
       grid-template-columns: 1fr 1fr;
       grid-template-rows: 70px 50px 50px 50px 50px 50px 50px 50px;
       margin-top: 70px;
       grid-template-areas:"img ." "img name" "img portof" "img ." ". ." ". ." "desc desc" "desc desc" ;
    }

    header img{
        grid-area: img;
    }

    header h1{
        grid-area: name;
    }

    .black{
        grid-area: desc;
        background-color: black;
        height: 150px;
        opacity: 0.8;
        width: 80%;
        margin: auto;
        
    }

  

    header p{
        display: initial;
        line-height: 40px;
        font-size: 27px;
        
        
    }

    header h2{
        grid-row: 2/3;
        grid-column: -2/-1;
        grid-area: portof;
    }
}

@media(min-width:901px){
    nav{
        margin-top: 30px;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        width: 100%;
    }
    
    nav a{
        
       margin-left: 120px;
    }




    header{
        margin:20px;
       display: grid;
       grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
       grid-template-rows: 70px 50px 50px 50px 50px 50px 50px 50px;
       margin-top: 70px;
       
    }

    header img{
        grid-row:1/5;
    }

    header h1{
        grid-row:2/3;
        grid-column: 3/5;
    }

    .black{
        grid-row:6/9;
        grid-column: 1/6;
        background-color: black;
        height: 150px;
        opacity: 0.8;
        width: 80%;
        margin: auto;
        
    }

  

    header p{
        display: initial;
        line-height: 40px;
        font-size: 27px;
        
        
    }

    header h2{
        grid-row:3/4;
        grid-column: 3/5;
    }
}
