body{
    box-sizing: border-box;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    height: 100vh;
    background-color: rgb(230, 229, 214);
    margin: 0px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    gap: 70px;
}

nav{
    background-image: url("../../imaginiLemne/lemn3.jpg");
    height: 120px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    text-align: center;
}

nav a{
    color: white;
    margin-top: 10px;
    text-decoration: none;
    font-size: 20px;
}

header{
    margin: 20px;
}

header h1{
    font-style: italic;
}

main{
    text-align: center;
}

main ul{
    list-style: none;
}

.contactLinks{
    margin-top: 200px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;

}

main a{
    color: #2d2c2a;
    font-weight: bolder;
    text-decoration: none;
    
}

.contactLinks img{
    width: 70px;
    height:70px ;
    border-radius: 200px;
    

}

footer{
    background-color: black;
    text-align: center;
    color: white;
    
}

@media(min-width:720px){
    nav{
        grid-template-columns: 1fr 1fr 1fr;
        column-gap: 50px;
    }

    nav a{
        margin-top: 40px;
    }


}