body{
    box-sizing: border-box;
    background-color: black;
    color: white;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-template-areas: "nav" "header" "main" "footer";
    margin: 0px;
    height: 100vh;
    font-family: 'Ribeye', cursive;
}

nav{
    grid-area: nav;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url("../../imagini/craaiova.jpg");
    background-repeat: no-repeat;
    background-size:100% 100%;
    background-color: rgb(255, 123, 0);
    background-blend-mode:soft-light;
    box-shadow: inset 0 0 20px #000000;
    height: 130px;
    
}

nav a{
    margin-bottom: 15px;
    margin-top: 5px;
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-size: 20px;
    font-weight: 1000;
    
}

header{
    grid-area: header;
    margin-left: 20px;
}
header h1{
    color: orange;
}

main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    grid-area: main;
    margin-top: 40px;
}

main img{
    width: 60px;
    height: 60px;
    border-radius: 100px;
}

.contactLinks{
    margin-top: 40px;
    display: flex;
    flex-direction: row;
    
}

.contactLinks img{
    margin-left: 20px;
}

main a{
    color: orange;
    text-decoration: none;
}


section{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.pr img{
    width: 200px; 
 }

 .pr{
     color: orange;
 }

footer{
    grid-area: footer;
    background-color: rgb(17, 16, 16);
    text-align: center;
    height: 50px;
    margin-top: 130px;
}

@media(min-width:720px) and (max-width:900px){
    nav{
        flex-direction: row;
    }

    nav a{
        margin-left: 15%;
    }

    .contactLinks img{
        margin-left: 60px;
    }

  

 
}

@media(min-width:901px){
    nav{
        flex-direction: row;
    }

    nav a{
        margin-left: 15%;
    }

    .contactLinks img{
        margin-left: 60px;
    }

    footer{
        height: 50px;
        margin-top:150px;
    }
}


